![sslogo](https://github.com/stratascratch/stratascratch.github.io/raw/master/assets/sslogo.jpg)

# Basic Pandas Functionality

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('titanic.csv')

#### Investigate the first few rows of data

In [ ]:
data.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,None,S

#### Investigate the last 10 rows of data

In [ ]:
data.tail(10)

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
881,882,0,3,"Markun, Mr. Johann",male,33,0,0,349257,7.8958,None,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22,0,0,7552,10.5167,None,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28,0,0,C.A./SOTON 34068,10.5000,None,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25,0,0,SOTON/OQ 392076,7.0500,None,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39,0,5,382652,29.1250,None,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.0000,None,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,None,1,2,W./C. 6607,23.4500,None,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.7500,None,Q

#### Investigate the data types in the DataFrame

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
passengerid    891 non-null int64
survived       891 non-null int64
pclass         891 non-null int64
name           891 non-null object
sex            891 non-null object
age            714 non-null object
sibsp          891 non-null int64
parch          891 non-null int64
ticket         891 non-null object
fare           891 non-null float64
cabin          204 non-null object
embarked       889 non-null object
dtypes: float64(1), int64(5), object(6)
memory usage: 83.6+ KB

#### Get some summary statistics

In [ ]:
data.describe().T

### Filtering Dataframes

You can filter data based on the columns and values in the dataframe

#### Filter the data for men

In [ ]:
data[data.sex=='male']

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,None,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,None,S
5,6,0,3,"Moran, Mr. James",male,None,0,0,330877,8.4583,None,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,None,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.0500,None,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.2750,None,S
16,17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.1250,None,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,None,0,0,244373,13.0000,None,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26.0000,None,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13.0000,D56,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5000,A6,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,None,0,0,2631,7.2250,None,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263.0000,C23 C25 C27,S
29,30,0,3,"Todoroff, Mr. Lalio",male,None,0,0,349216,7.8958,None,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40,0,0,PC 17601,27.7208,None,C
33,34,0,2,"Wheadon, Mr. Edward H",male,66,0,0,C.A. 24579,10.5000,None,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28,1,0,PC 17604,82.1708,None,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42,1,0,113789,52.0000,None,S
36,37,1,3,"Mamee, Mr. Hanna",male,None,0,0,2677,7.2292,None,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21,0,0,A./5. 2152,8.0500,None,S
42,43,0,3,"Kraeff, Mr. Theodor",male,None,0,0,349253,7.8958,None,C
45,46,0,3,"Rogers, Mr. William John",male,None,0,0,S.C./A.4. 23567,8.0500,None,S
46,47,0,3,"Lennon, Mr. Denis",male,None,1,0,370371,15.5000,None,Q
48,49,0,3,"Samaan, Mr. Youssef",male,None,2,0,2662,21.6792,None,C
50,51,0,3,"Panula, Master. Juha Niilo",male,7,4,1,3101295,39.6875,None,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21,0,0,A/4. 39886,7.8000,None,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65,0,1,113509,61.9792,B30,C
55,56,1,1,"Woolner, Mr. Hugh",male,None,0,0,19947,35.5000,C52,S
57,58,0,3,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.2292,None,C
...,...,...,...,...,...,...,...,...,...,...,...,...
840,841,0,3,"Alhomaki, Mr. Ilmari Rudolf",male,20,0,0,SOTON/O2 3101287,7.9250,None,S
841,842,0,2,"Mudd, Mr. Thomas Charles",male,16,0,0,S.O./P.P. 3,10.5000,None,S
843,844,0,3,"Lemberopolous, Mr. Peter L",male,34.5,0,0,2683,6.4375,None,C
844,845,0,3,"Culumovic, Mr. Jeso",male,17,0,0,315090,8.6625,None,S
845,846,0,3,"Abbing, Mr. Anthony",male,42,0,0,C.A. 5547,7.5500,None,S
846,847,0,3,"Sage, Mr. Douglas Bullen",male,None,8,2,CA. 2343,69.5500,None,S
847,848,0,3,"Markoff, Mr. Marin",male,35,0,0,349213,7.8958,None,C
848,849,0,2,"Harper, Rev. John",male,28,0,1,248727,33.0000,None,S
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4,4,2,347082,31.2750,None,S
851,852,0,3,"Svensson, Mr. Johan",male,74,0,0,347060,7.7750,None,S
857,858,1,1,"Daly, Mr. Peter Denis",male,51,0,0,113055,26.5500,E17,S
859,860,0,3,"Razi, Mr. Raihed",male,None,0,0,2629,7.2292,None,C
860,861,0,3,"Hansen, Mr. Claus Peter",male,41,2,0,350026,14.1083,None,S
861,862,0,2,"Giles, Mr. Frederick Edward",male,21,1,0,28134,11.5000,None,S
864,865,0,2,"Gill, Mr. John William",male,24,0,0,233866,13.0000,None,S
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,None,0,0,345777,9.5000,None,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4,1,1,347742,11.1333,None,S
870,871,0,3,"Balkic, Mr. Cerin",male,26,0,0,349248,7.8958,None,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47,0,0,345765,9.0000,None,S
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20,0,0,7534,9.8458,None,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19,0,0,349212,7.8958,None,S
878,879,0,3,"Laleff, Mr. Kristo",male,None,0,0,349217,7.8958,None,S
881,882,0,3,"Markun, Mr. Johann",male,33,0,0,349257,7.8958,None,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28,0,0,C.A./SOTON 34068,10.5000,None,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25,0,0,SOTON/OQ 392076,7.0500,None,S
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.0000,None,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.7500,None,Q

#### Filter the ages for the men

In [ ]:
data.age[data.sex=='male']

0        22
4        35
5      None
6        54
7         2
12       20
13       39
16        2
17     None
20       35
21       34
23       28
26     None
27       19
29     None
30       40
33       66
34       28
35       42
36     None
37       21
42     None
45     None
46     None
48     None
50        7
51       21
54       65
55     None
57     28.5
       ...
840      20
841      16
843    34.5
844      17
845      42
846    None
847      35
848      28
850       4
851      74
857      51
859    None
860      41
861      21
864      24
867      31
868    None
869       4
870      26
872      33
873      47
876      20
877      19
878    None
881      33
883      28
884      25
886      27
889      26
890      32
Name: age, Length: 577, dtype: object

### Adding methods to filters

A method is a function and is used frequently when analyzing data in Pandas. There are countless Pandas methods. We'll go over a few of the basic ones to show how you can use methods to quickly analyze your data.

#### How many men and women were on the Titanic?

In [ ]:
data.sex[data.sex=='male'].count()

577

In [ ]:
data.sex[data.sex=='female'].count()

314

#### What was the survival rate for adult men (age>=18)

In [ ]:
data.survived[(data.sex=='male')&(data.age>=18)].mean()

0.17721518987341772

#### What was the survival rate for women and children?

In [ ]:
data.survived[(data.sex=='female')|(data.age<18)].mean()

0.6881720430107527

#### Use groupby to compare the survival rates of men and women

In [ ]:
data.groupby('sex')['survived'].mean()

sex
female    0.742038
male      0.188908
Name: survived, dtype: float64

#### Create a DataFrame with groupby

In [ ]:
new = data.groupby(['sex','pclass'])['survived'].mean()
new

               survived
sex    pclass
female 1       0.968085
       2       0.921053
       3       0.500000
male   1       0.368852
       2       0.157407
       3       0.135447